/*
Theme Name: Grayscale-WP
Theme URI: https://github.com/benrhine/grayscale
Author: Ben Rhine
Author URI: https://github.com/benrhine
Description: Wordpress theme port of StartBootstrap grayscale template (http://startbootstrap.com/template-overviews/grayscale/)
Version: 1.0
License: MIT License
License URI: http://opensource.org/licenses/MIT
Tags: bootstrap
*/

/*
 * To make this a proper WordPress Theme and to ensure that everything works properly we declare all the css imports here as the style.css
 * will be loaded automatically by a function in the functions.php
 */

@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css');

@import url('vendor/fontawesome-free/css/all.min.css');
@import url('https://fonts.googleapis.com/css?family=Varela+Round');
@import url('https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i');

@import url('css/grayscale.min.css');
/* @import url('css/grayscale.css'); */

/*
<link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
<link href="" rel="stylesheet">
<link href="" rel="stylesheet">
*/
